@charset "UTF-8";

 .botones{
   margin-top: 10px;
   font-style: oblique;
 }

 .banner{
   height:50px;
 }

a{
  color: white;
}

.separacion{
   padding-top: 50px;
}

.box{
  margin-left: 204px;
  margin-top: 20px;
  width: 1158px;
  background-color: #f1f0f1;
}

.hola{
  display: inline-block;
  width: 475px;
  margin-left:50px;
  margin-right: 40px;
}

.footer{
  margin-top: 20px;
  padding: 50px 0 40px;
}

.iconos{
  margin-right:10px
}
